<div>
  Template Form:
  <br>
  <form #hobbyForm="ngForm" (ngSubmit)="submitDetail(hobbyForm)">
      <label contenteditable="true">Name:</label>
      <input type="text" name="fn" [(ngModel)]="fullname" pattern="[a-zA-Z]{3,15}" required> {{fullname}}
      <span [ngStyle]="{color:hobbyForm.controls.fn.invalid?'red':'white'}">Minimum length is 3. Max length is 65, Only alphabets</span>
      <br>
      <label>Age:</label>
      <input type="number" name="age" [(ngModel)]="age" required min="18" max="80"> {{age}}
      <span [ngStyle]="{color:hobbyForm.controls.age.invalid?'red':'white'}">Age range is 18 to 80</span>
      <br>
      <label>Label:</label>
      <select name="hobby" [(ngModel)]="hobby">
         <option value="hacking">Hacking</option>
         <option value="driving">Driving</option>
         <option value="trekking">Trekking</option>
      </select> {{hobby}}
      <br>
      <!-- <button type="submit" [disabled]="hobbyForm.invalid">Submit</button> -->
      <button type="submit">Submit</button>
  </form>
</div>